body {
    background-color: #3590a9;

    color: #efe8e8;

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;

}


form {
    background-color: #fff;

    padding: 5px;


}


button {
    background-color: #141514;

    color: rgb(236, 231, 231);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;

    margin-top: 10px;
    border-radius: 4px;
}


input,
select,
textarea {
    background-color: #ffffff;

    color: #615eaf;
    padding: 8px 12px;

    margin-bottom: 10px;
    width: 100%;

}


table {
    width: 100%;
    margin-top: 20px;

}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #181818;

}

th {
    background-color: #181818;

}
